<div class="dashboard">
  <div class="background-img">
  <div class='overlay'></div>
  </div>
  <div class="container">
      <div class="dashboard-wrapper" [@dashboardwrapper]>
          <div class="brand-img">
            <img src="assets/meanlogo.png" alt="MEAN">
            <!--<span>M</span>-->
          </div>
          <div class="dashboard-details">
                <h4>Dashboard</h4>
            <p>
                Welcome to your dashboard
            </p>
          </div>
      </div>
      <!-- end form-wrapper -->
  </div>
</div>